<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/index.css">
        <title>ByteBoardBlitz</title>
    </head>
    <body>
        <div class="rank-labels">
            <span class = rank>1</span>
            <span class = rank>2</span>
            <span class = rank>3</span>
            <span class = rank>4</span>
            <span class = rank>5</span>
            <span class = rank>6</span>
            <span class = rank>7</span>
            <span class = rank>8</span>
        </div>
    <div class="chess-board">
        <div class="chess-row">
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>  
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>  
        </div>  
        <div class="chess-row">
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>  
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>  
        </div>  
        <div class="chess-row">
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>  
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>  
        </div>  
        <div class="chess-row">
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>  
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>  
        </div>  
        <div class="chess-row">
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>  
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>  
        </div>  
        <div class="chess-row">
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>  
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>  
        </div>  
        <div class="chess-row">
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>  
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>  
        </div>  
        <div class="chess-row">
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>  
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>
            <div class="chess-square {% if boardstate[col ~ row] %}occupied{% endif %}">
                <img src= "../static/piece_svg/white/bishop_white.svg" class="piece-svg">
            </div>  
        </div>  
    </div>  
    <span class = file>A</span>
    <span class = file>B</span>
    <span class = file>C</span>
    <span class = file>D</span>
    <span class = file>E</span>
    <span class = file>F</span>
    <span class = file>G</span>
    <span class = file>H</span>
</body>
</html>
