<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/index.css">
        <title>ByteBoardBlitz</title>
    </head>
    <body>
        <div class="board-container">
            <div class="chess-board">
                <div class="chess-square immutable left">
                    <span class = rank>8</span>
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/rook_black.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/knight_black.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/bishop_black.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/queen_black.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/king_black.svg" class="piece-svg">
                </div>  
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/bishop_black.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/knight_black.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/rook_black.svg" class="piece-svg">
                </div>  
                <div class="chess-square immutable left">
                    <span class = rank>7</span>
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/pawn_black.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/pawn_black.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/pawn_black.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/pawn_black.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/pawn_black.svg" class="piece-svg">
                </div>  
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/pawn_black.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/pawn_black.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/pawn_black.svg" class="piece-svg">
                </div>  
                <div class="chess-square immutable left">
                    <span class = rank>6</span>
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>  
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>  
                <div class="chess-square immutable left">
                    <span class = rank>5</span>
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>  
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>  
                <div class="chess-square immutable left">
                    <span class = rank>4</span>
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>  
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>  
                <div class="chess-square immutable left">
                    <span class = rank>3</span>
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>  
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                </div>  
                <div class="chess-square immutable left">
                    <span class = rank>2</span>
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/pawn_white.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/pawn_white.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/pawn_white.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/pawn_white.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/pawn_white.svg" class="piece-svg">
                </div>  
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/pawn_white.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/pawn_white.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/pawn_white.svg" class="piece-svg">
                </div>  
                <div class="chess-square immutable left">
                    <span class = rank>1</span>
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/rook_white.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/knight_white.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/bishop_white.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/queen_white.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/king_white.svg" class="piece-svg">
                </div>  
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/bishop_white.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/knight_white.svg" class="piece-svg">
                </div>
                <div class="chess-square {% if boardstate[col ~ row] %}occupied{% else %}unoccupied{% endif %}">
                    <img src= "../static/piece_svg/rook_white.svg" class="piece-svg">
                </div>  
                <div class="chess-square immutable bottom">
                </div>
                <div class="chess-square immutable bottom">
                    <span class = file>A</span>
                </div>
                <div class="chess-square immutable bottom">
                    <span class = file>B</span>
                </div>
                <div class="chess-square immutable bottom">
                    <span class = file>C</span>
                </div>
                <div class="chess-square immutable bottom">
                    <span class = file>D</span>
                </div>
                <div class="chess-square immutable bottom">
                    <span class = file>E</span>
                </div>
                <div class="chess-square immutable bottom">
                    <span class = file>F</span>
                </div>
                <div class="chess-square immutable bottom">
                    <span class = file>G</span>
                </div>
                <div class="chess-square immutable bottom">
                    <span class = file>H</span>
                </div>
            </div>  
        </div>  
    </body>
</html>
